<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

	<Bundle Name="$(var.ProductName) Setup"
			Version="1.0.4"
			Manufacturer="$(var.Manufacturer)"
			UpgradeCode="{8C0C1A16-0C4D-4D65-9D03-9D6EABED4E21}">
		<!-- Schlichtes Standard-UI -->
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
				LicenseFile="License.rtf"
				SuppressRepair="yes"
				SuppressDowngradeFailure="yes" />
		</BootstrapperApplicationRef>


		<Chain>
			<!-- Deine App (fertiges MSI aus Schritt B) -->
			<MsiPackage Id="MyCoinFlowMsi"
            DisplayName="$(var.ProductName)"
            Compressed="yes"
            SourceFile="$(var.MsiPath)"
            Vital="yes"
            Visible="no" />

		</Chain>
	</Bundle>
</Wix>
